            <div class="ueBodyContent">
            	<div style="float:left; color:#999999;">Here is where some brief instructional text could be placed for each page</div>
                <div class="btnGreyLeft" style="width:115px;"><input type="button" value="create new user" class="btnGrey" /></div>
                <div class="clear"></div>
<!-- black table -->
              <div class="rcBlack">
                <div class="ueNameDisplay">John Smith</div>
                <div class="lastActivity"><span>last activity:</span> 01/02/2011</div>
                <div class="created"><span>created:</span> 01/02/2010</div>
                <div class="status"><img src="/assets/icon-active.png" /><span>active</span></div>
                <div class="clear" style="border-bottom:1px solid #666666; height:10px;"></div>
                
<!-- first column -->
	<div class="col1">
    <div class="row1">
    <div class="inpTxt">user name:</div><input type="text" class="ueInp" />
    </div>
    
    <div class="row1">
    <div class="inpTxt">password:</div><input type="text" class="ueInp" />
    </div>
    
    <div class="row1">
    <div class="inpTxt correctFieldTxt">email:</div><input type="text" class="correctField" />
    </div>
    
    <div class="row1">
    <div class="inpTxt">phone:</div><input type="text" class="ueInp" />
    </div>
    
    <div class="row1">
    <div class="inpTxt">company:</div><input type="text" class="ueInp" />
    </div>
    
    <div class="row1">
    <div class="inpTxt">title:</div><input type="text" class="ueInp" />
    </div>
    
    <div class="row1">
    <div class="inpTxt">role:</div><input type="text" class="ueInp" />
    </div>
    
    <div class="row1">
    <div class="inpTxt">login page:</div><input type="text" class="ueInp" />
    </div>
    
    <div class="row1">
    <div class="inpTxt">user #:</div><input type="text" class="ueInp" />
    </div>
    
    <div class="row1">
    <div class="inpTxt">websites:</div><input type="text" class="ueInp" />
    </div>
    
    <div class="row1" style="position:relative;">
    <div class="inpTxt"></div><input type="text" class="ueInpRemove" /><img src="/assets/remove-field.png" style="position:absolute; top:0px; right:23px;" />
    </div>
    
    <div class="row1">
    <div class="inpTxt"></div><input type="text" class="ueInp" />
    </div>
    
    <div class="row1" style="position:relative;">
    <div class="inpTxt"></div><input type="text" class="ueInpAdd" /><img src="/assets/add-field.png" style="position:absolute; top:0px; right:23px;" />
    </div>
    </div>
<!-- end of first column -->

<!-- second column -->
	<div class="col2">
    	<ol id="toc">
    <li><a href="#page-1"><span>shipping address</span></a></li>
    <li><a href="#page-2"><span>billing address</span></a></li>
</ol>
<div class="content" id="page-1">
    <div class="row1">
    <div class="inpTxt"></div>
    	<select class="ueInp" style="height:25px; margin:10px 0px">
        	<option>Select an existing address</option>
            <option></option>
        </select>
    </div>
    
    <div class="row1">
    <div class="inpTxt">nick name:</div><input type="text" class="ueInp" />
    </div>
    
    <div class="row1">
    <div class="inpTxt">address:</div><input type="text" class="ueInp" />
    </div>
    
    <div class="row1">
    <div class="inpTxt">city:</div><input type="text" class="ueInp" />
    </div>
    
    <div class="row1">
    <div class="inpTxt">state:</div><input type="text" class="ueInp" />
    </div>
    
    <div class="row1">
    <div class="inpTxt">zip:</div><input type="text" class="ueInp" />
    </div>
    
    <div class="clear"></div>
</div>
<div class="content" id="page-2">
    <div class="row1">
    <div class="inpTxt"></div>
    	<select class="ueInp" style="height:25px; margin:10px 0px">
        	<option>Select an existing address</option>
            <option></option>
        </select>
    </div>
    
    <div class="row1">
    <div class="inpTxt">nick name:</div><input type="text" class="ueInp" />
    </div>
    
    <div class="row1">
    <div class="inpTxt">address:</div><input type="text" class="ueInp" />
    </div>
    
    <div class="row1">
    <div class="inpTxt">city:</div><input type="text" class="ueInp" />
    </div>
    
    <div class="row1">
    <div class="inpTxt">state:</div><input type="text" class="ueInp" />
    </div>
    
    
    
    <div class="clear"></div>
</div>
    </div>
<!-- end of second column -->

<!-- third column -->
	<div class="col3">
    <div class="col3Head">roles</div>
    	<div class="rcRoles">
        <div class="roles"><img src="/assets/icon-close.png" /><span>System Administrator</span></div>
        <div class="clear"></div>
        <div class="roles"><img src="/assets/icon-active.png" /><span>Administrator</span></div>
        <div class="clear"></div>
        <div class="roles"><img src="/assets/icon-close.png" /><span>Website Builder</span></div>
        </div>
        
    <div class="col3Head">notes</div>
    <div class="rcNotes">Here is a note about shomething
    to do with this account <img src="/assets/add-notes.png" style="position:absolute; top:0; right:0;" /></div>
    <span style="color:#999999; float:right; font-size:10px;">10/22/2011 by k.keane</span>
    
    <div class="rcNotes">Here is a note about shomething
    to do with this account</div>
    <span style="color:#999999; float:right; font-size:10px;">10/22/2011 by k.keane</span>
    
    <div class="rcNotes">Here is a note about shomething
    to do with this account</div>
    <span style="color:#999999; float:right; font-size:10px;">10/22/2011 by k.keane</span>
    
    <div class="clear"></div>
    
    <div class="seeMore"><a href="#">see more</a></div>
    
    </div>
    
    
<!-- end of third column -->

	<div class="clear" style="background:url(/assets/border-bottom.gif) repeat-x left bottom; height:10px; margin-bottom:20px;"></div>

<div class="btnAshGreyLeft" style="width:80px; float:left;"><input type="button" value="Cancel" class="btnAshGrey" /></div>

<div class="btnGreenLeft" style="width:76px; float:right;"><input type="button" value="Save" class="btnGreen" /></div>

              </div>
<!-- end of black table -->
            </div>
