<div class="addFileHolder">
<div class="helpPopUp">
<p>Update Video info</p>

<span><span class="helpGreyTxt">video type:</span> MPEG, MP4, FLV, F4V</span><br />
<span><span class="helpGreyTxt">max file size:</span> 30mb</span>
</div>
    <div class="addFileTop">Add Video <img src="/assets/icon-help.png" class="help" /></div>
    <%= form_for(@video, :html => { :multipart => true }, :remote => true) do |f| %>
    <%#= f.object.errors %>
    <div class="addFileBody">
      <%= f.file_field :source %>
    </div>
    <div class="addFileBottom">
      <div class="btnCancelLeft">
        <input type="reset" value="Cancel" class="btnCancel" />
      </div>
      <div class="btnUploadFileLeft">
        <%= f.submit "Upload Video", :class => "btnUploadFile" %>
      </div>
    </div>
    <% end %>
</div>