<div class="viewVideoHolder">
  <div class="viewVideoTop"><%= @video.source_file_name %><img src="/assets/icon-help-grey.png" class="help" /></div>
  <div class="viewVideoBody">
    <div class="videoDisplay">
      <embed src ="/flash/mediaplayer.swf?file=<%= @video.source.url %>" width="480" height="320" allowfullscreen="true" />
    </div>
  </div>
  <div class="viewVideoBottom">
    <div class="btnOKLeft"><input type="button" value="OK" class="btnOK btnCancel" /></div>
  </div>
</div>