<%= stylesheet_link_tag "themes" %>
<%= stylesheet_link_tag 'modal_layout'%>
		<div class="main-container midium">
			<div class="header">New External Link<span class="helpIcon"></span></div>
			<div class="main-content">
				<div class="newExt-Link">
					<div class="extForm">
						<div class="form-row"><span class="key">name :</span><span class="val"><input type="text" value="" /></span></div>
						<div class="form-row"><span class="key">link URL :</span><span class="val"><input type="text" value="" /></span></div>
						<div class="form-row"><span class="key">target :</span><span class="val"><select><option>no target</option></select></span></div>
					</div>
				</div>
			</div>
			<div class="footer-section">
				<div class="leftBtns"><button class="secondary" id="cancelBtn">Cancel</button> </div>
				<div class="rightBtns"><button class="primary" id="saveBtn">Save Changes</button> </div>
			</div>
		</div>
