<%= stylesheet_link_tag "themes" %>
<%= stylesheet_link_tag 'modal_layout'%>

<div class="main-container midium">
			<div class="header">Create New Page<span class="helpIcon"></span></div>
			<div class="main-content">
				<div class="createPage">
					<div class="extForm">
						<div class="form-row"><span class="key">page name :</span><span class="val"><input type="text" value="" /></span></div>
					</div>
					<div class="createPageTitle">choose a page layout</div>
					<div class="pageLayout-wrapper">
						<div class="pageLayout">
							<div class="name">1 column</div>
							<div class="snap singleCol"></div>
						</div>
						<div class="pageLayout">
							<div class="name">side column</div>
							<div class="snap sideCol"></div>
						</div>
						<div class="pageLayout">
							<div class="name">2 column</div>
							<div class="snap twoCol"></div>
						</div>
						<div class="pageLayout">
							<div class="name">3 column</div>
							<div class="snap threeCol"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-section">
				<div class="leftBtns"><button class="secondary" id="cancelBtn">cancel</button> </div>
				<div class="rightBtns"><button class="primary" id="saveBtn">create page</button> </div>
			</div>
		</div>

