@charset "utf-8";
/* CSS Document */

body {
	margin:0px; padding:0px; background:url(../images/bg.gif); font:normal 12px Arial, Helvetica, sans-serif;
}

.mainContainer {
	margin:auto; width:100%; text-align:center;
}

.rcTable {
	border:1px solid #9b9b9b; border-radius:5px; -moz-border-radius:5px; background-color:#ffffff; width:600px; height:400px; padding-top:45px; margin:auto; margin-top:150px; box-shadow: 2px 2px 2px 0px #999999; -mox-box-shadow: 2px 2px 2px 0px #999999;
}

.rcTable2 {
	border:1px solid #9b9b9b; border-radius:5px; -moz-border-radius:5px; background-color:#ffffff; width:600px; height:400px; padding-top:45px; margin:auto; margin-top:150px; box-shadow: 2px 2px 2px 0px #999999; -mox-box-shadow: 2px 2px 2px 0px #999999; position:relative;
}

.logo {
	background:url(../images/logo.jpg) no-repeat left top; width:221px; height:39px; margin:auto;
}

.fieldsHolder {
	margin:auto; width:400px; margin-top:50px; padding-left:100px;
}

.inp {
	float:left; border:1px solid #9b9b9b; border-radius:5px; -moz-border-radius:5px; width:300px; height:30px; margin-bottom:10px;
}

.lblTxt {
	float:left; font:bold 14px Arial, Helvetica, sans-serif; color:#999999; margin-bottom:5px;
}

.clear {
	clear:both;
}

.btnLogin {
	margin-top:20px; float:left; margin-left:60px;
}

.btnGetUsername {
	margin-top:20px; float:left; margin-left:60px;
}

.btnForgot {
	margin:auto; margin-top:20px;
}

.cornerFold {
	position:absolute; background:url(../images/corner-fold.jpg) no-repeat left top; top:-1px; left:-1px; width:115px; height:115px;
}

.btnGoBack {
	position:absolute; width:73px; height:73px; top:0px; left:0px;
}