body {
    background: url("img/bg.gif") repeat scroll 0 0 transparent;
    font: 12px Arial,Helvetica,sans-serif;
    margin: 0;
    padding: 0;
}
body button,

body textarea{resize:none;}
button{
	font-size: 12px;
	line-height: 12px;
	padding: 8px 15px 8px 15px;
	margin-right:10px;
	color:#FFFFFF;
	font-weight: bold;
	border-radius: 6px;
	cursor: pointer;
}
a,
a:hover,
a:focus{
	text-decoration: none;
	color:inherit;
	cursor: pointer;
}
button.primary{
	background: -webkit-gradient(linear, left top, left bottom, from(#99cc99), to(#669966));
	background: -moz-linear-gradient(top,  #99cc99,  #669966);
	border:1px solid #336633;
}
button.secondary{
	background: -webkit-gradient(linear, left top, left bottom, from(#b5b5b5), to(#999999));
	background: -moz-linear-gradient(top,  #b5b5b5,  #999999);
	border:1px solid #666666;
}

a.primary{
	background: -webkit-gradient(linear, left top, left bottom, from(#99cc99), to(#669966));
	background: -moz-linear-gradient(top,  #99cc99,  #669966);
	border:1px solid #336633;
}
a.secondary{
	background: -webkit-gradient(linear, left top, left bottom, from(#b5b5b5), to(#999999));
	background: -moz-linear-gradient(top,  #b5b5b5,  #999999);
	border:1px solid #666666;
}


.mainContainer {
    margin: auto;
    width: 100%;
}
.userEditHolder {
    margin: auto;
    width: 1024px;
}
.header-section{
	overflow: hidden;
}
.header-section .topHeader{
	background: url("img/bg_topHeader.gif") repeat-x;
	height: 36px;
	-moz-box-shadow: 0px 0px 4px #333;
	-webkit-box-shadow: 0px 0px 4px #333;
}
.topHeader .logoHolder{
	display:block;
	float:left;
	background: url("img/pecaa_logo.png") no-repeat;
	width:170px;
	height:36px;
}
.topHeader .rightPanel{
	float:right;
}
.rightPanel ul{
	margin:0;
	padding:0;
	list-style: none;
	background:0;
}
.rightPanel ul li{
	display:table-cell;
	margin:0;
	padding:0;
	list-style: none;
	background:0;
}
.rightPanel .help{
	width:98px;
	height:36px;
	background: url("img/btn_help.png") no-repeat;
}
.rightPanel .myAccount{
	width:166px;
	height:36px;
	background: url("img/btn_myAccount.png") no-repeat;
}
.rightPanel .logout{
	width:113px;
	height:36px;
	background: url("img/btn_logOut.png") no-repeat;
}
.main-nav {
	margin: 10px;
	overflow: hidden;
}
.main-nav .navBtns{
	float: left;
}
.main-nav ul{
	margin:0;
	padding:0;
	list-style: none;
	background:0;
}
.main-nav ul li{
	display:table-cell;
	margin:0;
	padding:0;
	list-style: none;
	height: 30px;
}
.main-nav ul li.siteInfo{
	background: url(img/btn_siteInfo.png) no-repeat;
	width: 113px;
}
.main-nav ul li.siteInfo.active{
	background: url(img/btn_siteInfo_on.png) no-repeat;
}
.main-nav ul li.siteInfo.complete{
	background: url(img/btn_siteInfo_done.png) no-repeat;
}

.main-nav ul li.pages{
	background: url(img/btn_pages.png) no-repeat;
	width: 100px;
}
.main-nav ul li.pages.active{
	background: url(img/btn_pages_on.png) no-repeat;
}
.main-nav ul li.pages.complete{
	background: url(img/btn_pages_done.png) no-repeat;
}
.main-nav ul li.content{
	background: url(img/btn_content.png) no-repeat;
	width: 114px;
}
.main-nav ul li.content.active{
	background: url(img/btn_content_on.png) no-repeat;
}
.main-nav ul li.content.complete{
	background: url(img/btn_content_done.png) no-repeat;
}
.main-nav ul li.theme{
	background: url(img/btn_theme.png) no-repeat;
	width: 105px;
}
.main-nav ul li.theme.active{
	background: url(img/btn_theme_on.png) no-repeat;
}
.main-nav ul li.theme.complete{
	background: url(img/btn_theme_done.png) no-repeat;
}
.main-nav ul li.optional{
	background: url(img/btn_optional.png) no-repeat;
	width: 119px;
}
.main-nav ul li.optional.active{
	background: url(img/btn_optional_on.png) no-repeat;
}
.main-nav ul li.users{
	background: url(img/btn_users.png) no-repeat;
	width: 94px;
}
.main-nav ul li.done{
	background: url(img/btn_done.png) no-repeat;
	width: 84px;
}
.main-nav .rightBtns{
	float: right;
}
.main-nav button.btn_Save{
	background:url(img/btn_saveAndNext.png)no-repeat;
	width: 189px;
	height:30px;
	border:0;
	font-size:11px;
	color:#FFF;
	text-indent:-9999px;
	cursor: pointer;
}
.main-nav button.btn_SaveAndGo{
	background:url(img/btn_saveAndGo.png)no-repeat;
	width: 117px;
	height:30px;
	border:0;
	font-size:11px;
	color:#FFF;
	text-indent:-9999px;
	cursor: pointer;
}
.main-nav button.btn_External{
	background:url(img/btn_External.png)no-repeat;
	width: 45px;
	height:30px;
	border:0;
	color:#FFF;
	text-indent:-9999px;
	cursor: pointer;
}
.content-section{
	clear:both;
	width:95%;
	min-height:500px;
	padding: 0 25px;
	margin-bottom:20px;
}
.themes-board{
	background: url(img/bg_grid.gif) repeat;
	height:60%;
	width:1015px;
	position: absolute;
	top:290px;
	border-top:1px solid black;
}
.themes-board .grid-board{
	background:url(img/bg_gridTop.png) repeat-x;
	height:8px;
	margin-top:-8px;
}
/* Checkbox customization*/
span.checkbox {
    background: url("img/checkbox.png") no-repeat scroll 0 0 white;
    clear: left;
    display: inline-block;
    float: left;
    height: 23px;
    padding: 0 4px 0 0;
    width: 19px;
    vertical-align: middle;
    cursor:pointer;
}
span.radio {
    background: url("img/radio.png") no-repeat scroll 0 0 transparent;
    clear: left;
    display: inline-block;
    float: left;
    height: 23px;
    padding: 0 4px 0 0;
    width: 19px;
    vertical-align: middle;
}
span.select {
    background: url("img/select.png") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    font: 12px/21px arial,sans-serif;
    height: 21px;
    overflow: hidden;
    padding: 0 24px 0 8px;
    position: absolute;
    width: 158px;
}

.left {
    float: left;
}
.right {
    float: right;
}
.clear {
    clear: both;
}