.content-section{
	padding-left:10px;
	padding-right:0px;
	width:auto;
	min-height: 0;
}
.themes-main .themes-wrapper{
	min-height: 180px;
	position: relative;
}
.themes-wrapper .tabs{
	position: absolute;
	left:0;
	top:0;
}
.tabs ul{
	margin:0;
	padding:0;
	background:none;
	list-style: none;
	width: 175px;
	
}
.tabs ul li{
	margin:0;
	padding:6px 0 8px 12px;
	color:#666666;
	font-size:14px;
	font-weight: bold;
}
.tabs ul li.active{

}
.themes-wrapper .theme-content{
	min-height: 190px;
	padding-left: 185px;
    padding-top: 18px;
}
.themes-wrapper .theme-content#content_1{
	background:url(/assets/bg_tabContent_1.png) no-repeat;
}
.themes-wrapper .theme-content#content_2{
	background:url(/assets/bg_tabContent_2.png) no-repeat;
}
.themes-wrapper .theme-content#content_3{
	background:url(/assets/bg_tabContent_3.png) no-repeat;
}
.theme-section{
	padding:0;
}
.theme-section .theme-column{
	float:left;
	margin-right: 16px;
}
.colPicker-wrapper{
	border-radius:6px;
	border:1px solid #bccfdf;
	padding:5px 5px 3px;
}
.theme-column .colPicker-wrapper ul {
	list-style: none;
	background:none;
	padding:0;
	margin:0;
}
.theme-column .colPicker-wrapper ul li {
	list-style: none;
	background:none;
	padding:0;
	margin:0;
	display: inline-block;
	width: 44px;
	height:44px;
	border:1px solid #333333;
	border-radius:4px;
	margin-right:8px;
	background:#0099cc;
	position: relative;
}
.theme-column .colPicker-wrapper ul li:last-child{
	margin:0;
}
.colPicker-wrapper ul li .piller,
.colorPick .piller{
	background:url(/assets/bg_ColorPiller.png) no-repeat;
	width: 18px;
	height: 18px;
	display:block;
	position: absolute;
    right: -10px;
    top: -10px;
}
.colPicker-wrapper ul li .add,
.colorPick .add{
	background:url(/assets/bg_AddColor.png) no-repeat;
	width: 13px;
	height: 13px;
	display:block;
	position: absolute;
    left: 1px;
    bottom: 0px;
}
.theme-section .theme-column-right{
	float:left;
}
.variation-wrapper{
	padding:5px;
}
.theme-column-right .variation-wrapper{
	width: 250px;
	padding:0;
	border: 0;
	float:left;
	margin-right: 10px;
}
.theme-column-right .variation-wrapper .variation{
	background:none;
	margin-bottom: 2px;
}
.theme-column-right .variation-wrapper .variation ul li{
	margin:0;
}
.theme-column-right .variation-wrapper .variation span{
	width: 110px;
	border-radius:4px;
	background:#e5e5e5;
	padding:4px 2px 4px 2px;
}
.variation-wrapper .variation{
	background:#e9eef3;
	border-radius:4px;
	overflow:hidden;
	margin-bottom:5px;
	padding: 1px 1px 0;
}

.variation-wrapper .variation.active{
	background:#d2e2f0;
	border: 1px solid #bccfdf;
}
.variation ul{
	list-style: none;
	background:none;
	padding:0;
	margin:0;
	float:left;
	vertical-align: middle;
	height: 25px;
}
.variation ul li {
	list-style: none;
	background:none;
	padding:0;
	margin:0;
	display: inline-block;
	width: 22px;
	height:22px;
	border:1px solid #666666;
	border-radius:3px;
	margin-right:1px;
	background:#0099cc;
}
.variation span{
	display: inline-block;
    padding-top: 5px;
    text-align: center;
    width: 125px;
}
.detail-row{
	padding:5px 5px 5px 25px;
	margin-bottom:10px;
}
.detail-row span{
	vertical-align: middle;
	display:inline-block;
	margin-right:5px;
}
.detail-row span input[type="text"]{
	width:250px;
	height:24px;
	border-radius:4px;
	background:#dee2e7;
	border: 0;
	padding-left:2px;
}
.detail-row span .saveColor{
	width: 151px;
	height:24px;
	background: url(/assets/btn_SaveColorScheme.png) no-repeat;
	border:0;
}

.searchTheme {
	background:#FFFFFF;
	border:1px solid #666666;
	border-radius:4px;
	-moz-box-shadow: inset 0px 0px 3px #999;
	-webkit-box-shadow: inset 0px 0px 3px #999;
	margin-bottom:10px;
}
.searchTheme .searchIcon{
	display:inline-block;
	background: url(/assets/icon_Search.gif) no-repeat;
	height:32px;
	width:30px;
	vertical-align: middle;
}
.searchTheme input[type="text"]{
	background:none;
	width:155px;
	vertical-align: middle;
	border:0;
	padding-left:3px;
	font-size:16px;
}
.choose-baseColor{
	margin-bottom:10px;
	background:#e8ebf0;
	border-radius:4px;
	border:0;
	padding:5px 5px 10px 5px;
	
}
.choose-baseColor .colorPick{
	float:left;
	display:block;
	width: 22px;
	height:22px;
	border:1px solid #666666;
	border-radius:3px;
	margin-right:5px;
	background:#0099cc;
	position: relative;
}

.choose-baseColor .nameText{
	font-size:16px;
	vertical-align: middle;
	color: #666666;
}
.choose-baseColor .iconDelete{
	background: url(/assets/iconDelete.png) no-repeat;
	width:20px;
	height:20px;
	display: inline-block;
	vertical-align: middle;
	float: right;
}
.sortBy select{
	width:193px;
	background: #999999;
	padding:5px 5px 5px 2px;
	border:1px solid #666666;
	border-radius:3px;
	color:#FFFFFF;
}
.theme-tabs ul{
	margin:0;
	padding:0;
	background:0;
}
.theme-tabs ul li{
	margin:0;
	padding:0;
	background:#e5e9ee;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	width:100px;
	display:inline-block;
	font-size:14px;
	line-height:14px;
	color:#999999;
	padding:10px 0 10px 0;
	text-align: center;
}
.theme-tabs ul li.active{
	background:#FFFFFF;
	color:#30506b;
}
.theme-column-right .theme-tabContent{
	background:#FFFFFF;
	border-radius: 4px;
	border-top-left-radius: 0px;
	border:0;
	height:125px;
}
.theme-carousel{
	padding:5px;
}
.theme-carousel .leftBtn,
.theme-carousel .rightBtn{
	display:inline-block;
	width:15px;
	height:22px;
	margin-top:30px;
	padding: 5px;
	vertical-align: middle;
}
.theme-carousel .leftBtn a,
.theme-carousel .rightBtn a{
	display:block;
	width:15px;
	height:22px;
}
.theme-carousel .leftBtn{
	background: url(/assets/btn_Left.gif) no-repeat;
}
.theme-carousel .rightBtn{
	background: url(/assets/btn_Right.gif) no-repeat;
}
.theme-carousel .carousel-content{
	width:543px;
	min-height:115px;
	vertical-align: middle;
	display:inline-block;
	margin-right;
}
.carousel-content .theme-item{
	float: left;
	margin-right:5px;
	text-align: center;
	position: relative;
}
.carousel-content .theme-item .theme-rating,
.themeDetail .theme-rating {
	background:url(/assets/rating_5.png) no-repeat;
	width:70px;
	height:12px;
	margin-bottom:4px;
}
.carousel-content .theme-item .theme-snap{
	width:70px;
	height:35px;
	background: url(/assets/theme_snap.png) no-repeat;
	margin-bottom:4px;
	cursor: pointer;
} 
.theme-snap .hover-box{
	display: none;
	position: absolute;
	background: #666666;
	border-radius:4px;
	border:1px solid #333333;
	padding:10px;
	z-index: 9999;
	text-align: left;
	color: #FFFFFF;
	left:-83px;
	top: 55px;
}
.theme-snap .hover-box .colorSnap{
	width:200px;
	height:133px;
	background:url(/assets/colorSnap_Big.png) no-repeat;
	margin-bottom:10px;
}
.hover-box .themeDetail{
	margin-bottom:20px;
}
.hover-box .themeDetail div{
	margin-bottom:5px;
}
.hover-box .themeDetail .theme-name{
	font-size: 16px;
}
.hover-box .themeBtns button{
	width:76px;
	height:30px;
	border:0;
	margin:0;
}
.hover-box .themeBtns button.btn_Fav{
	background: url(/assets/btnFav.png) no-repeat;
	margin:0;
	float:left;
}
.hover-box .themeBtns button.btn_Edit{
	background: url(/assets/btnThemeEdit.png) no-repeat;
	margin:0;
	float: right;
}
.theme-snap .hover-box .pointer{
	background:url(/assets/colorSnap_Pointer.png) no-repeat;
	width:37px;
	height: 13px;
	position: absolute;
	left:45%;
	top:-13px;
}
.carousel-content .theme-item .theme-action button{
	width:72px;
	height:32px;
	border:0;
	margin:0;
}
.theme-item .theme-action button.btnPurchase{
	background: url(/assets/btnPurchase.png) no-repeat;
}
.theme-item .theme-action button.btnApply{
	background: url(/assets/btnApply.png) no-repeat;
}
.theme-item .theme-action button.btnEdit{
	background: url(/assets/btn_Edit.png) no-repeat;
}
.newExt-Link,
.createPage{
	margin:13px;
	background:#FFFFFF;
	border-radius: 4px;
	border: 1px solid #333333;
	overflow: hidden;
	-moz-box-shadow: inset 0px 0px 3px #999;
	-webkit-box-shadow: inset 0px 0px 3px #999;
}
.newExt-Link .extForm{
	margin: 44px 44px 40px 85px;
    overflow: hidden;
}
.createPage .extForm{
	padding: 10px 44px 10px 85px;
    overflow: hidden;
    border-bottom:1px solid #CCCCCC;
    margin:10px 15px;
}
.extForm .form-row{
	margin-bottom:5px;
	overflow: hidden;
}
.extForm .form-row span{
	float: left;
	display:inline-block;
}
.extForm .form-row span.key{
	min-width:90px;
	width:auto;
	text-align: right;
	margin-right:5px;
	
}
.extForm .form-row span.val{
	width:250px;
}
.extForm .form-row span.val input[type="text"]{
	width:250px;
	background:#f5f5f5;
	border-radius: 4px;
	border:0;
	padding:3px;
}
.extForm .form-row span.val select{
	width:255px;
}
.createPage .createPageTitle{
	font-size:18px;
	font-weight: bold;
	margin:10px 0 20px 0;
	text-align:center;
	color:#666666;
}
.pageLayout-wrapper{
	overflow:hidden;
	margin-bottom: 10px;
    margin-left: 45px;
}
.pageLayout-wrapper .pageLayout{
	overflow:hidden;
	float:left;
	margin-right:10px;
}
.pageLayout .name{
	text-align:left;
	color:#999999;
	margin-bottom:5px;
}
.pageLayout .snap{
	width:100px;
	height:125px;
	display: inline-block;
}
.pageLayout .snap.singleCol{
	background:url("/assets/1-column.png") no-repeat;
}
.pageLayout .snap.sideCol{
	background:url(/assets/side-column.png) no-repeat;
}
.pageLayout .snap.twoCol{
	background:url("/assets/2-column.png") no-repeat;
}
.pageLayout .snap.threeCol{
	background:url("/assets/3-column.png") no-repeat;
}

.theme-SubTabs ul{
	margin:0;
	padding:0;
	list-style: none;
	background:none;
}
.theme-SubTabs ul li{
	display:block;
	background: #e5e9ee;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	margin-bottom: 10px;
    padding: 14px;
    font-size: 14px;
    text-align: center;
    color: #999999;
}
.theme-SubTabs ul li.active{
	background:#FFFFFF;
	color: #30506b;
}
.subTab-Content{
	background:#FFFFFF;
	height: 150px;
	width:695px;
	margin-top:-10px;
	padding:10px;
}
.subTab-Content .resetAll{
	position: absolute;
	right:1px;
	top:30%;
	background:url(/assets/btnResetAll.png) no-repeat;
	width:22px;
	height:65px;
}
.subTab-Content .resetAll a{
	display:block;
	width:100%;
	height:100%;
}
.subTab-Content .colum-wrapper{
	min-height:150px;
	min-width:200px;
	border-right:1px solid #CCCCCC;
	padding-left: 15px;
    padding-right: 15px;
}
.subTab-Content .colum-wrapper.last{
	border-right:0;
	padding-right:0;
}
.subTab-Content .colum-wrapper .changePanel{
	margin-bottom:15px;
}
.subTab-Content .colum-wrapper .palletBox{
	border: 1px solid #e9e9e9;
    border-radius: 6px 6px 6px 6px;
    height: 46px;
}
.palletBox .solidColor{
	list-style: none;
	background:none;
	padding:0;
	margin:0;
	display: inline-block;
	width: 44px;
	height:44px;
	border:1px solid #333333;
	border-radius:4px;
	margin-right:8px;
	background:#0099cc;
	position: relative;
}
.solidColor .piller{
	background:url(/assets/bg_ColorPiller.png) no-repeat;
	width: 18px;
	height: 18px;
	display:block;
	position: absolute;
    right: -10px;
    top: -10px;
}
.solidColor .add{
	background:url(/assets/bg_AddColor.png) no-repeat;
	width: 13px;
	height: 13px;
	display:block;
	position: absolute;
    left: 1px;
    bottom: 0px;
}
.palletBox .gradientColor,
.palletBox .chooseImg{
	background: -webkit-gradient(linear, left top, left bottom, from(#88b2c8), to(#6a8ea2));
	background: -moz-linear-gradient(top,  #88b2c8,  #6a8ea2);
	border: 1px solid #457389;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    color: #FFFFFF;
    height: 37px;
    margin: 0;
    padding: 7px 16px 0 7px;
    text-align: center;
    width: 35px;
}
.palletBox .slider-alpha{
	height:5px;
	width:180px;
	border-radius: 4px;
	margin:10px 10px 35px;
	border:1px solid #666666;
	background: -webkit-gradient(linear, left center, right center, from(#000000), to(#CCCCCC)); 
	background: -moz-linear-gradient(left,  #000000,  #CCCCCC);
	position: relative;
}
.slider-alpha.steps{
	background:url(/assets/bg_BorderGrades.png)no-repeat;
}
.palletBox .slider-alpha .alphaPointer{
	background:url(/assets/alphaPointer.png)no-repeat;
	position: absolute;
	height:26px;
	width:18px;
	left:75%;
	top:8px;
	cursor: pointer;
}
.gradientColorBar{
	width: 205px;
}
.boxShadow{
	width: 195px;
}

.palletBox .slider-gradient{
	height:5px;
	width:150px;
	border-radius: 4px;
	margin:10px 10px 35px;
	border:1px solid #666666;
	background: -webkit-gradient(linear, left center, right center, from(#FF0000), to(#ffff00)); 
	background: -moz-linear-gradient(left,  #FF0000,  #ffff00);
	position: relative;
}
.palletBox .slider-boxShadow{
	height:5px;
	width:150px;
	border-radius: 4px;
	margin:10px 10px 35px;
	border:1px solid #666666;
	background: -webkit-gradient(linear, left center, right center, from(#000000), to(#CCC)); 
	background: -moz-linear-gradient(left,  #000000,  #CCCCCC);
	position: relative;
}
.slider-gradient .gradientLabel{
	position: absolute;
	top:-28px;
}
.boxType .boxTypeLabel{
	position: absolute;
	top:-18px;
}
.palletBox .closeBtn{
	background: url(/assets/iconDelete.png)no-repeat;
	width:20px;
	height:20px;
	margin-left: 5px;
    margin-top: 10px;
    margin-right:5px;
}
.closeBtn a{
	display:block;
	width:100%;
	height:100%;
}
.pointStart,
.pointEnd{
	background:url(/assets/transPointer.png)no-repeat;
	position: absolute;
	height:26px;
	width:18px;
	top:8px;
	cursor: pointer;
}
.pointStart{
	left:0%;
}
.pointEnd{
	left:90%;
}
.amt,
.spread{
	position: absolute;
	height:26px;
	width:18px;
	top:8px;
	cursor: pointer;
}
.amt{
	background:url(/assets/amtPointer.png)no-repeat;
	left:10%;
}
.spread{
	background:url(/assets/spreadPointer.png)no-repeat;
	left:70%;
}
.amt .val,
.spread .val {
	position: absolute;
	right: -30px;
    top: 8px;
    width: 28px;
}
.pointStart .col,
.pointEnd .col{
    border-radius: 7px;
    height: 13px;
    width: 13px;
    position: absolute;
    right: 3px;
    top: 9px;
    z-index: 1;
}
.pointStart .col{
	background:#FF0000;
}
.pointEnd .col{
	background:#ffff00;
}
.slider-boxShadow .pointStart .col{
	background:#000000;
}
.slider-boxShadow .pointEnd .col{
	background:#FFFFFF;
}
.alphaPointer .val,
.pointStart .val,
.pointEnd .val {
	position: absolute;
	right: -30px;
    top: 8px;
    width: 28px;
}
.palletBox.grayBg{
	background:#f2f2f2;
}
.palletBox .noImage{
	font-size:30px;
	color:#cccccc;
	text-align: center;
	width:140px;
	display:inline-block;
	margin-top: 3px;
}
.palletBox .tileBox {
	border-radius: 2px;
	border:1px solid #333333;
}
.palletBox .tileBox ul{
	margin:0;
	padding:0;
	height:45px;
	width:48px;
	list-style:none;
}
.palletBox .tileBox ul li{
	float:left;
	margin:0;
	padding:0;
	width:15px;
	height:14px;
	list-style:none;
	border-right:1px solid #333333;
	border-bottom:1px solid #333333;
	cursor:pointer;
}
.palletBox .tileBox ul li.active{
	background:url(/assets/bg_theme_tileCheck.png)no-repeat;
}
.palletBox .repeatBox{
	margin-left:40px;
}
.palletBox .repeatBox .repeatXY{
	overflow:hidden;
}
.palletBox .repeatBox .repeatXY label{
	display: inline-block;
    margin-top: 3px;
}
.palletBox .imgThumb{
	padding:2px;
}
.palletBox .boxType{
	margin-left:10px;
	position: relative;
}
.palletBox .boxType ul{
	padding:0;
	margin:0;
	list-style: none;
	width: 140px;	
}
.palletBox .boxType ul li{
	width:65px;
	float:left;
}

.palletBox .boxType ul li label{
	margin-top:3px;
	vertical-align: middle;
	display:inline-block;
}
.palletBox .showPreview{
	margin-left:45px;
	margin-top:13px;
}
.palletBox .showPreview .boxSquare,
.palletBox .showPreview .boxCircle{
	width: 20px;
	height:20px;
	-moz-box-shadow: 2px 5px 10px #000;
	-webkit-box-shadow: 2px 5px 10px #000;
	float:left;
}
.palletBox .showPreview .boxSquare{
	background:#000000;
}
.palletBox .showPreview .boxCircle{
	background:#FFFFFF;
	border-radius:10px;
	margin-left:20px;
}
.palletBox .textColor{
	display: inline-block;
	font-size:30px;
	color:#0099CC;
	margin-left: 10px;
	margin-top: 5px;
}
.palletBox .textShadowPrev{
	margin-left: 25px;
}
.palletBox .textShadowPrev .textShadow{
	text-shadow: 2px 2px 3px #000;
	font-size:30px;
	color:#0099CC;
}
