<div class="main-container">
  <div class="header"><%= @text.text_block_name %></div>
  <div class="main-content">
    <div class="text-block">
      <%= @text.description %>

    </div>
  </div>
  <div class="footer-section">
    <div class="rightBtns">
      <div class="btnOKLeft"><input type="button" value="OK" class="btnOK btnCancelForm" /></div>
  </div>
</div>
</div>
