<style>
#facebox .content {background: none repeat scroll 0 0 #FFFFFF;border-radius: 4px 4px 4px 4px;display: table;padding: 10px;width: 700px;}
</style>
<div class="header"><%= @text.text_block_name %></div>
  <div class="main-content">
    <div class="text-block">
      <%= raw  @text.description %>
    </div>
  </div>
  <div class="footer-section">
    <div class="rightBtns">
      <div class="btnOKLeft"><input type="button" value="OK" class="btnOK btnCancelForm" /></div>
  </div>
</div>
