<div class="siteInfo-main">
	<div class="intro-text"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vitae purus id mauris mollis tincidunt. Curabitur in pellentesque mi. Nulla facilisi. Nam vel venenatis diam. Curabitur urna arcu, egestas at vehicula ullamcorper, scelerisque non est. Pellentesque pulvinar massa eu velit pulvinar accumsan ac in est. Fusce mauris nulla, vestibulum ac semper id, mollis at lectus. Nullam placerat tempor nisl, quis tincidunt sapien lacinia ac. </p></div>
	<div class="colum-wrapper">
		<div class="colum-section">
		<div class="title">Site Details <span class="help"><a href="#"></a></span></div>
			<div class="group">
				<span class="key">site name:</span>
				<span class="val"><input type="text" value="Active Eyeware"></span>
			</div>
			<div class="group">
				<span class="key">domain name:</span>
				<span class="val"><input type="text" value="http://www.activeeyeware.com"></span>
			</div>
			<div class="group next">
				<span class="key">company name:</span>
				<span class="val"><input type="text" value="Active Eyeware Ltd."></span>
			</div>
		<div class="group">
				<span class="key">address:</span>
				<span class="val">
					<input type="text" value="123 Fake St">
					<input type="text" value="Suit 230">
				</span>
			</div>
			<div class="group">
				<span class="key">city:</span>
				<span class="val">
					<input type="text" value="Boston">
				</span>
			</div>
			<div class="group">
				<span class="key">state:</span>
				<div  class="val">
					<select>
						<option>MA</option>
					</select>
					
					<span class="zipCode">
						<span>zip:</span>
						<span><input type="text" value="02384"></span>
					</span>
				</div>
			</div>
			<div class="group country">
				<span class="key">country:</span>
				<span class="val">
					<select>
						<option>United States</option>
					</select>
				</span>
			</div>
			
		</div>
		

	<div class="colum-section last">
		<div class="title">Contact Details <span class="help"><a href="#"></a></span></div>
			<div class="group">
				<span class="key">name:</span>
				<span class="val"><input type="text" value="James Howard"></span>
			</div>
			<div class="group">
				<span class="key">position:</span>
				<span class="val"><input type="text" value="Manager"></span>
			</div>
			<div class="group">
				<span class="key">email:</span>
				<span class="val"><input type="text" value="jhoward1233@gmail.com"></span>
			</div>
		<div class="group">
				<span class="key">phone:</span>
				<span class="val">
					<input type="text" value="303.345.3456">
				</span>
			</div>
			<div class="group">
				<button class="btnAddContact" type="button"></button>
			</div>
			
			<div class="title">Link to Existing Account <span class="help"><a href="#"></a></span></div>
			<div class="group">
					<div class="searchAC"><input type="text" class="search" placeholder="search accounts"></div>
			</div>
			<div class="group">
					<div class="linkAc">
						<div class="name">Bob Knowels</div>
						<div class="company">Active Eyeware</div>
						<div class="user">
							<input type="checkbox" checked="checked">
							<span>user can edit site</span>
						</div>
						<button class="linkAccount" type="button"></button>
					</div>
			
			</div>
		</div>
	</div>
</div>
