<div class="ueBodyContent">
  <ul class="ueNavlink">
    <li>
      <%= link_to 'Show', @site, :class=>'links'%>
    </li>
    <li>
      <%= link_to 'Back', sites_path, :class=>'links' %>
    </li>
  </ul>
  <%= render 'form' %>
</div>